extends layout

block header
	.header
		ul.nav.nav-pills.pull-right
			li <a href="/">Home</a>
			li <a href="/explore">Explore</a>
			li.active <a href="/about">About</a>
		h3.text-muted my mushy visusalisations

block content

	.jumbotron
		h1 Want more?
		p.lead Visit my home website
		p <a class="btn btn-lg btn-success" href="http://www.muslab.com">www.muslab.com</a>

	.footer
		p ♥ from mushlab


block scripts
	<script src="js/index.js"></script>	

