extends layout

block styles
	link(rel='stylesheet', href='/css/carsharing_sedimentation.css')

block content
	#staticTooltip
	span.project-info-icon.glyphicon.glyphicon-info-sign
	.project-info
		.title
			h3 Project information
			button(type="button", class="close glyphicon glyphicon-remove")
		.body
			h4 Description
			p Visualisation of car sharing data.
			h4 Usage
			p 1. Watch the number of trips according to date.
		.bg

		.clock

	.container

		h3 Visualisation of <a href="https://www.car2go.com/en/miami/">Car2Go Miami trips</a>. Starting and finishing trips.
        
	#sedimentation-trips 

block scripts
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-zhSgHgfTToW_8q-XMTDkHtqN_YJuyMg&sensor=false"></script>
	<script src="http://d3js.org/queue.v1.min.js"></script>
	<script src="js/carsharing_sedimentation.js"></script>
	<script src="js/tooltip.js"></script>
	<script src="js/vendor/vs.0.1-min.js"></script>
