extends layout

block styles
	link(rel='stylesheet', href='/css/carsharing.css')

block content
	#staticTooltip
	span.project-info-icon.glyphicon.glyphicon-info-sign
	.project-info
		.title
			h3 Project information
			button(type="button", class="close glyphicon glyphicon-remove")
		.body
			h4 Description
			p Visualisation of car sharing data.
			h4 Usage
			p 1. Watch the number of trips according to date.
		.bg

	.container

		h3 Visualisation of <a href="https://www.car2go.com/en/miami/">Car2Go Miami trips</a> set.Duration of trips (minutes)
        
	#cubs
		#demo
		#demo2

//-		.row
//-			#trips-length-chart
//-				h4 Lenght of trips
//-				a(class="reset", href="javascript:charts['tripsLength'].filterAll();dc.redrawAll();", style="display: none;") reset
//-				.clearfix
			#visualisation


		//-.row
//-			span.col-xs-12.col-sm-6
//-				<a class="playbutton play icon">Pause / Play</a>
//-				span.player
//-					<img id="play" src="imgs/play.png" width="100" height="100" style="display:none;"/>
//-					<img id="pause" src="imgs/pause.png" width="100" height="100" style="display:none;"/>
//-				span.slider

block scripts
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-zhSgHgfTToW_8q-XMTDkHtqN_YJuyMg&sensor=false"></script>
	<script src="js/carsharing.js"></script>
	<script src="js/vendor/fisheye.js"></script>
	<script src="js/vendor/crossfilter.min.js"></script>
	<script src="js/vendor/dc.js"></script>
	<script src="js/vendor/cubism.v1.min.js"></script>
	<script src="js/tooltip.js"></script>
