extends layout

block styles
	link(rel='stylesheet', href='/css/congestion.css')

block content
	#staticTooltips
	span.project-info-icon.glyphicon.glyphicon-info-sign
	.project-info
		.title
			h3 Project information
			button(type="button", class="close glyphicon glyphicon-remove")
		.body
			h4 Description
			p Visualisation of self organisation of connected vehicles into communities.
			p Each dot represents a postion of a conneted vehicle. The color indicates a community that the vehicle belongs to.
			h4 Usage
			p 1. Select the label-propagation community detection algorithm.
			p 2. Select the coloring dependent on only community or add information about vehicle speed or congestion. Vehicle's speed is represented as a colored circle stroke (ranging from green to red). Congestion is represented by number of vehicle's stops. If a vehicle stops more than once on a link over the cycle course, the link is considered as congested. The circle stroke indicates how many times a vehicle stops on a link.  
			p 3. Choose the dot's size metric based on community size, community score and the node degree (number of neighbors).
			p 4. Click Play or move timeline to see the evolution of communities.
			p 5. Click on a dot to track the details of the vehicle and its community.
			p 6. Watch on the table the biggest communities and their properties. For highlighting the monster community (the biggest community at the current time) select the checkbox 'Track the monster community'.
			p 7. Watch charts prepresenting graph's statistics over time and more.
		.bg

	.container
		.dashboard
			.row
				span.algorithm.col-xs-12.col-sm-4 Algorithm:
					select(class="algorithm-select")
						//-option(value="Manhattan/07022014/nsim/reduced_") new nsim
						//-option(value="Manhattan/07022014/nsim_sr/reduced_") new nsim_sr 
						//-option(value="Manhattan/07022014/nsim_dsd/reduced_") new nsim_dsd 

						option(value="Manhattan/07022014/nsim_dsd/reduced_") dsd 100
						option(value="Manhattan/12022014/dsd_200/reduced_") dsd 200
						option(value="Manhattan/12022014/dsd_300/reduced_") dsd 300

				span.col-xs-12.col-sm-3 Color by:
					select(class="color-by")
						option(value="com_id") Community id
						option(value="avg_speed") Average speed
						option(value="speed") Speed
						option(value="num_stops") Number of stops
						option(value="avg_speed_avg") Community avg speed
						option(value="avg_speed_std") Community std speed
						option(value="congested_sum") Community toal stops
				span.col-xs-12.col-sm-3 Size by:
					select(class="sort-by")
						option(value="None") None
						option(value="avg_speed") Average speed
						option(value="com_size") Community size 
						option(value="degree") Degree
						option(value="com_score") Score
						option(value="avg_speed_avg") Community avg speed
						option(value="avg_speed_std") Community std speed
						option(value="congested_sum") Community toal stops
			.row
				span.col-xs-12.col-sm-6
					<a class="playbutton play icon">Pause / Play</a>
					span.player
						<img id="play" src="imgs/play.png" width="100" height="100" style="display:none;"/>
						<img id="pause" src="imgs/pause.png" width="100" height="100" style="display:none;"/>
					span.slider


		.col-xs-12.col-sm-7.vis-column
			#loaderVeh.loader
				.loader-content
					progress(class="progress-bar", value="10", max="100") 0 %
					//- .loader-image
					h4 Loading data...
					h5.size
			.row
				#visualisation
				.legend
					p Color legend:
				#kinetic-container

		.col-xs-12.col-sm-5
			#loaderCom.loader
				.loader-content
					progress(class="progress-bar", value="10", max="100") 0 %
					//- .loader-image
					h4 Loading data...
					h5.size

			#communities
				//- tracker
				div
					label.originators.tracker Show originators
						<span class='toggle'><input type='checkbox' name='showOriginators' id='showOriginatorsToggle' /></span>
						span.icon
				div
					label.monsters.tracker Track the monster community
						<span class='toggle'><input type='checkbox' name='trackMonster' id='trackMonsterToggle' /></span>
						span.icon
				.span.communities-stats
					.num-communities
					.monster-community
				.span12.table-graph
					table.table.table-hover.dc-monster-table#dc-monster-graph
						thead
							tr.header
								th.com_id
									a(type="button", class="sort glyphicon glyphicon-sort") Name
								th.count
									a(type="button", class="sort glyphicon glyphicon-sort") Size
								//-th.speed_avg
								//-	a(type="button", class="sort glyphicon glyphicon-sort") Average speed
								//-th.speed_std
								//-	a(type="button", class="sort glyphicon glyphicon-sort") Stddev speed
								th.avg_speed_avg
									a(type="button", class="sort glyphicon glyphicon-sort") Average avg speed
								th.avg_speed_std
									a(type="button", class="sort glyphicon glyphicon-sort") Stddev avg speed 
								//-th.num_stops_avg
								//-	a(type="button", class="sort glyphicon glyphicon-sort") Number of stops
								th.congested_sum
									a(type="button", class="sort glyphicon glyphicon-sort") Number of congestions
								th Color


			.data-status
			h4 Time series
			#charts
				.chart#num-vehicles
				.chart#num-stops

			#stats
			.chart#hist-vehicles

block scripts
	<script src="js/congestion.js"></script>
	<script src="js/vendor/fisheye.js"></script>
	<script src="js/vendor/crossfilter.min.js"></script>
	<script src="js/vendor/dc.js"></script>
	//-<script src="js/vendor/gauss.js"></script>
	<script src="js/tooltip.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="http://d3js.org/queue.v1.min.js"></script>
