extends layout

block header
	.header
		ul.nav.nav-pills.pull-right
			li <a href="#">Home</a>
			li.active <a href="/index-vis">Explore</a>
			li <a href="/about">About</a>
		h3.text-muted Mushy visualisations

block content
	.container
		.row
			h4 Community detection in mobile ad hoc networks
			.col-sm-6.col-md-4
				.thumbnail
					a(href="/highway")
						.caption
							p Community formation on simple roadnetworks
						img(src="imgs/demos/highway.png", class="demo img-responsive", alt="...")
			.col-sm-6.col-md-4
				.thumbnail
					a(href="/single")
						.caption
							p Communities on realistic large-scale vehicular traces
						img(src="imgs/demos/single.png", class="demo img-responsive", alt="...")
			.col-sm-6.col-md-4
				.thumbnail
					a(href="/multiple")
						.caption
							p Comparison of multiple community detection algorithms
						img(src="imgs/demos/multiple.png", class="demo img-responsive", alt="...")
			
		.row
			.col-sm-6.col-md-4
				h4 Comunity formation (SVG)
				.thumbnail
					a(href="/congestion")
						.caption
							p Fully interactive implementation with SVG
						img(src="imgs/demos/congestion.png", class="demo img-responsive", alt="...")
			.col-sm-6.col-md-4
				h4 Community formation (Canvas)
				.thumbnail
					a(href="/communities")
						.caption
							p High performance implementation with canvas
						img(src="imgs/demos/communities.png", class="demo img-responsive", alt="...")
			.col-sm-6.col-md-4
				h4 Congestion detection
				.thumbnail
					a(href="/voronoi")
						.caption
							p Visualisation of congestion propagation
						img(src="imgs/demos/voronoi.png", class="demo img-responsive", alt="...")
			

		.row	
			.col-sm-6.col-md-4
				h4 Car sharing
				.thumbnail
					a(href="/car2go")
						.caption
							p Car sharing
						img(src="imgs/demos/carsharing.png", class="demo img-responsive", alt="...")
		
			.col-sm-6.col-md-4
				h4 Videre
				.thumbnail
					a(href="http://glacial-cliffs-2563.herokuapp.com/")
						.caption
							p Monitoring for taffic management system
						img(src="imgs/demos/videre.png", class="demo img-responsive", alt="...")
		
		
	.footer
		p
		p ♥ from mushlab


block scripts
	<script src="js/index.js"></script>	

