extends layout

block header
	.header
		ul.nav.nav-pills.pull-right
			li.active <a href="/">Home</a>
			li <a href="/explore">Explore</a>
			li <a href="/about">About</a>
		h3.text-muted my mushy visualisations

block content

	.jumbotron
		h1 Mushy vis!
		p.lead Welcome to an interactive world of my mushy visualisations.
		p <a class="btn btn-lg btn-success" href="/explore">Explore!</a>

	.footer
		p ♥ from mushlab


block scripts
	<script src="js/index.js"></script>	

