extends layout

block content
	<h2>Interactive visualisations of community detection in VANETs</h2>
	ul
		li 
			h3
				<a href="/single">Detailed animation of individual algorithms</a>
		li
			h3
				<a href="/multiple">Compare multiple algorithms</a>

block scripts
	<script src="js/index.js"></script>	