doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		block styles
		<meta name="viewport" content="width=800, user-scalable=0">
		

	body
		#loader

		block content

		<script src="js/d3.js" charset="utf-8"></script>
		<script src="js/jquery.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		block scripts
		