.algorithm {
  float: left;
  position: relative;
  border: 1px dashed #ccc;
  padding: 10px;
}
.algorithm .title {
  text-align: left;
}

.algorithm .chart {
  position: relative;
  top: 0;
  left: 0;
}

.algorithm .image {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -90px;
}

.algorithm-metrics {
  /*display: none;*/
  position: absolute;
  right: 8px;
  top: 8px;
}

.graph-metrics {
  display: block;
  float: right;
  width: 200px;
  float:right;
  right: 0;
  top: 0;
}

.preload {
  position: relative;
}

.preload img {
  display: none;
  /*position: relative;*/
}

.metric {
  /*padding-left: 10px;*/
  display: block;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.area {
  fill: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.brush  {
  opacity: 0.5;
}