body { 
margin: 0; 
padding: 0px;
font-family: 'Droid Sans', sans-serif;
overflow: scroll;
color: #304059;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-weight: 500;
line-height: 1.1;
}

button, select { outline: none;}

a {
color: #45A697;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a {
color: #45A697;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #45A697;
}



select{ margin: 0 10px; }

.header {

}

.header h3 {
	margin: 0;
	padding: 10px;
	color: #45A697;
}

.footer {
	text-align: right;
	padding: 10px 20px;
	font-size: 11px;
	color: #908785;
}

.loader {
	display: none;
	background-color: #fff;
	/*background-opacity: 0.5;*/
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 900;
}

.loader-content {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-52px;
	margin-left:-32px;
	width: 64px;
	height: 104px;
	text-align: center;
}

.loader-content .progress-bar, .loader-content h4 {
	height: 20px;
	width: 100px;
	margin-left:-15px;
	margin-top: 10px;
}

.loader-image {
	z-index: 1000;
	width: 64px;
	height: 64px;
	opacity: 0.5;
	background: #fff url('../imgs/loader.gif') no-repeat center center;
}

.tooltip { position:relative; }
.staticTooltip { 
	display: none; 
	z-index: 500;
}
.staticTooltip .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ccc; 
	border: 2px solid #fff;
	border-radius: 5px;
	opacity: 0.6;
	z-index: 490;
	top: 0;
	left: 0;
}
.staticTooltip .title {
	padding: 5px;
	cursor: pointer;
	z-index: 495;
	position: relative;
	border-bottom: 1px solid #fff;
}
.staticTooltip .title .close {
	margin: -1px 4px 0 0;
}
.staticTooltip .body {
	padding: 8px;
	z-index: 495;
	position: relative;
}

.staticTooltip p {
	margin: 0;
	padding: 0;
	line-height: 1 em;
}
.tooltip .bg, .staticTooltip .bg { opacity: 0.4; }
.tooltip text, .staticTooltip text {
fill: white;
font-size: 14px;
}
active.tooltip{
display: inherit;
}

.slider {
margin: 0 10px;
display: inline-block;
width: 50%;
}
.playbutton {
margin-top: -16px;
margin-right: 8px;
display: inline-block;
}
.player img {
position:absolute;
top:50%;
left:50%;
margin-top:-50px;
margin-left:-50px;
}
.icon {
display: inline-block;
width:32px;
height:32px;
text-indent: -9999px;
background-size: 32px 32px;
}
.play.icon {
background-image: url(../imgs/play.png);
}
.pause.icon {
background-image: url(../imgs/pause.png);
}

 @media (max-width: 900px) {
h1, #controls{ 
float: left;
margin-left: 20px;
}
.share-left{
left: inherit;
right: 20px;
top: 60px;
}
}
@media(max-width: 400px){
.share-left, .share-right, .fb-share-right{
display: none;
}
h1{
display: none;
}
#controls{
font-size: 10px;
position: absolute;
top: inherit;
bottom: 5px;
}
#controls ted{ width: 100px;}
#source{
display: none;
}
}

.thumbnail {
	opacity: 0.5;
	text-align: center;
}
.thumbnail:hover {
	opacity: 1;
}

.thumbnail a {
	display: inline-block;
	text-align: center;
	position: relative;
}
.thumbnail a .caption {
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	width: 100%;
}
.thumbnail a img {
	text-align: center;
	display: inline-block;
}

.error {
	color: red;
}

.chart {
	display: block;
	position: relative;
	width: 100%;
	height: 150px;
	margin: 10px auto;
	vertical-align:  center
}

/*#visualisation {
	min-height: 400px;
	width: 100%;
	margin: 10px;
	display: none;
}*/

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#charts path {
	fill: none;
}

