body { 
margin: 0; 
padding: 10px;
font-family: helvetica; 
overflow: scroll;
}

button, select { outline: none;}

a {
color: #00B7FF;
}

select{ margin: 0 10px; }


#navbar {
margin-top: 10px;
}

.loader {
	display: none;
	width: 64px;
	height: 64px;
	position:absolute;
	z-index: 1000;
	top:50%;
	left:50%;
	margin-top:-32px;
	margin-left:-32px;
	opacity: 0.5;
	background: #fff url('../imgs/loader.gif') no-repeat center center;
}

.tooltip {  position:relative; }
.tooltip .bg, .staticTooltip .bg { opacity: 0.2; }
.tooltip text, .staticTooltip text {
fill: white;
font-size: 14px;
}
active.tooltip{
display: inherit;
}

.slider {
margin: 0 10px;
display: inline-block;
width: 45%;
}
.playbutton {
margin-top: -16px;
margin-right: 8px;
display: inline-block;
}
.player img {
position:absolute;
top:50%;
left:50%;
margin-top:-50px;
margin-left:-50px;
}
.icon {
display: inline-block;
width:32px;
height:32px;
text-indent: -9999px;
background-size: 32px 32px;
}
.play.icon {
background-image: url(../imgs/play.png);
}
.pause.icon {
background-image: url(../imgs/pause.png);
}

 @media (max-width: 900px) {
h1, #controls{ 
float: left;
margin-left: 20px;
}
.share-left{
left: inherit;
right: 20px;
top: 60px;
}
}
@media(max-width: 400px){
.share-left, .share-right, .fb-share-right{
display: none;
}
h1{
display: none;
}
#controls{
font-size: 10px;
position: absolute;
top: inherit;
bottom: 5px;
}
#controls ted{ width: 100px;}
#source{
display: none;
}
}

.thumbnail {
	opacity: 0.5;
	text-align: center;
}
.thumbnail:hover {
	opacity: 1;
}


.thumbnail a {
	display: inline-block;
	text-align: center;
	position: relative;
}
.thumbnail a .caption {
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	width: 100%;
}
.thumbnail a img {
	text-align: center;
	display: inline-block;
}
